.map {
  //width: 100vw;
  height: 80vh;
}

.mapMenu {
  position: fixed;
  top: 54px;
  right: 12px;
  z-index: 401; // Leaflet map by default 400

  .content {
    position: fixed;
    right: 54px;
    top: 54px;
    display: flex;
    gap: 8px;
  }
}

.scrollDownButton {
  position: fixed;
  top: 96px;
  right: 12px;
  z-index: 401; // Leaflet map by default 400
}
